%ul.nav.nav-tabs.articles
  - @facade.categories.each do |category|
    - if category == params[:category]
      %li.nav-item
        = link_to category.second, articles_path(category: category), class: 'nav-link active'
    - else
      %li.nav-item
        = link_to category.second, articles_path(category: category), class: 'nav-link'

- @facade.articles.each do |article|
  = article.title
  %br
  = article.description
  %br
  = article.category
  %hr
