%footer
  .contact
    %h3= t("footer.kontacts")
    %p +(380)*********
    %p +(380)*********
    %p +(380)*********
    .support-project
      = link_to t('footer.support'), '#'
  .social-media
    %h3= t("footer.media")
    = link_to image_tag('facebook.png'), '#'
    = link_to image_tag('instagram.png'), '#'
    = link_to image_tag('telegram.png'), '#'
  .partner
    %h3= t("footer.partners")
    %p European Commission
    %p Erasmus+
